@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-lg-6">
        <div class="text-center padding8emtop">
            <img src="~/Images/House.png" />
        </div>
    </div>
    <div class="col-lg-6 padding4emtop">
        <h2>
            Вітаємо в системі<br />
            керування домом
        </h2>
        <h4 class="glyphicon-bold red">SmartHouseUi</h4>
    </div>
</div>
<div class="row padding4emtop">
    <a href="@Url.Action("OpenMain", "MeteoStation")">
        <div class="col-md-3 minHeight100 padding01 redblock">
            <h5 class="whitecolor" style="vertical-align: middle;">Температура/Тиск</h5>
        </div>
    </a>
    <a href="@Url.Action("OpenElectro", "Electricity")">
        <div class="col-md-3 minHeight100 padding01 blueblock">
            <h5 class="whitecolor" style="vertical-align: middle;">Електроенергія</h5>
        </div>
    </a>
    <a href="@Url.Action("GetListLog", "Statistic")">
        <div class="col-md-3 minHeight100 padding01 greyblock" >
            <h5 class="whitecolor" style="vertical-align: middle;">Статистика</h5>
        </div>
    </a>
    <a href="@Url.Action("GetState", "Monitor")">
        <div class="col-md-3 minHeight100 padding01 greenblock" >
            <h5 class="whitecolor" style="vertical-align: middle;">Стан системи</h5>
        </div>
    </a>
</div>