@model List<SmartHApp.Models.ErrorViewModel>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/table")
<div class="row">
    @if (Model.Count != 0)
    {
    <table>
        <thead>
            <tr>
                <th>Помилка в</th>
                <th>Текст помилки</th>
                <th>Стан вирішення</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td><strong>@item.Time</strong></td>
                <td>@item.Action</td>
                <td>@item.Result</td>
            </tr>
            }
        </tbody>
    </table>
    }
    else {
    <div class="row padding10emtop">
        <div class="col-md-3 minHeight100"></div>
        <div class="col-md-6"><h1 class="normalcolor">Система працює відмінно!</h1></div>
        <div class="col-md-3 minHeight100"></div>
    </div>
    }
</div>
