@model List<SmartHApp.Models.LogViewModel>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/table")
<div class="row">
    <table>
        <thead>
            <tr>
                <th>Створено в</th>
                <th>Дія</th>
                <th>Результат виконання</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td><strong>@item.Time</strong></td>
                <td>@item.Action</td>
                <td>@item.Result</td>
                </tr>
            }
        </tbody>
    </table>
</div>