@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-6">
        <div class="btn-group-vertical padding10emtop">
            <button type="button" class="btn btn-primary width250 ">Температура</button>
            <button type="button" class="btn btn-primary width250 ">Тиск</button>
        </div>
    </div>
    <div class="col-xs-6">
        <div id="temperature" class="hidden"></div>
        <div id="press" class="hidden"></div>
    </div>
</div>
